{% extends 'base.html' %}

{% block content %}
<h1 class="tc">Delete Album</h1>

<div class="flex flex-wrap justify-center">
    <form action="{% url 'delete_album' pk=album.pk %}" method="POST" class="tc">
        {% csrf_token %}
        <p>Are you sure you want to delete {{ album.title }}?</p>
        <div>
            <button type="submit">Delete Album</button>
            <br>
            <br>
            <a href="{% url 'view_album' pk=album.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}