{% extends 'base.html' %}

{% block content %}

<p id="topContent"><strong><a href="{% url 'add_album' %}">Add New Album</a></strong></p>

<h1 id="topContent">All Albums</h1>

<div id="tunes">
    <!-- class="flex flex-wrap" -->
    {% for album in albums %}
    <div id="tunesDiv">
        <!-- class="w-33 pa3" -->

        <h2>{{ album.title }}</h2>

        {% if album.artist %}
        <!-- <div class="flex"></div> -->
        <div>{{ album.artist }}</div>

        {% endif %}


        <p>
            <a href="{% url 'view_album' pk=album.pk %}">View Album</a><br>
        </p>


    </div>
    {% endfor %}
</div>
{% endblock %}